@font-face {
    font-family: JetBrainsMono;
    src: url(./assets/fonts/JetBrainsMono-Light.woff2) format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: JetBrainsMono;
    src: url(./assets/fonts/JetBrainsMono-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: JetBrainsMono;
    src: url(./assets/fonts/JetBrainsMono-Medium.woff2) format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

.JetBrainsMono-font {
    font-family: "JetBrainsMono";
}
:root {
    font-family: JetBrainsMono, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Prevent text size change on orientation change */
    -webkit-text-size-adjust: 100%;

    /* iOS safe area insets */
    --safe-area-top: env(safe-area-inset-top, 0px);
    --safe-area-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-left: env(safe-area-inset-left, 0px);
    --safe-area-right: env(safe-area-inset-right, 0px);
}
